class human(gameplay):
    displayName
    makeMove

class ai(human):
    #contructor
    checkPossibleChoices
    OVR!makeMove

class gameplay():
    #contructor
    init possibleMoves[]
    init rows and columns
    fuse gui """This is where the drawing happens"""
    displayMoves -> display the number of moves with which the player/computer won
    ###Matrix
    #functions
    firstPlayer
    playAgain
    validateUserInput
    updateWindow
